<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>关于我</title>
  <link rel="stylesheet" href="../static/css/semantic.min.css">
  <link rel="stylesheet" href="../static/css/me.css">
  <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>

  <!--导航-->
  <div th:replace="_fragments :: menu(6)">
  </div>
  <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
    <i class="sidebar icon"></i>
  </a>

<!--  &lt;!&ndash;首页大图&ndash;&gt;
  <div id="index-img">
  </div>-->
  <!--中间内容-->
  <div  class="m-container m-padded-tb-big">
    <div class="ui container animated rotateIn">

      <div class="ui stackable grid">
        <!--图片-->
        <div class="eleven wide column">
          <div class="ui m-shadow-small segment" style="height: 700px;width: 100%">
            <img th:src="@{/images/head.jpg}" src="http://120.27.249.14:8081/img/head.png" style="width: 100%;height: 100%" alt="" class="ui rounded image">
          </div>
        </div>
        <!--个人信息-->
        <div class="five wide column">
          <div class="m-shadow-tiny">
            <div class="ui top teal attached segment">
              <div class="ui header">关于我</div>
            </div>
            <div class="ui attached segment">
              <p>君不见，黄河之水天上来，奔流到海不复回。
                君不见，高堂明镜悲白发，朝如青丝暮成雪。
                人生得意须尽欢，莫使金樽空对月。
                天生我材必有用，千金散尽还复来。
                烹羊宰牛且为乐，会须一饮三百杯。
                岑夫子，丹丘生，将进酒，杯莫停。
                与君歌一曲，请君为我倾耳听。
             </p>
              <p>
                钟鼓馔玉不足贵，但愿长醉不复醒。
                古来圣贤皆寂寞，惟有饮者留其名。
                陈王昔时宴平乐，斗酒十千恣欢谑。
                主人何为言少钱，径须沽取对君酌。
                五花马，千金裘，呼儿将出换美酒，与尔同销万古愁。</p>
            </div>
            <div class="ui attached segment">
              <div class="m-margin-bottom-small">
                <div class="ui teal basic label">编程</div>
                <div class="ui teal basic label">思考</div>
                <div class="ui teal basic label">思考</div>
                <div class="ui teal basic label">思考</div>
                <div class="ui teal basic label">编程</div>
              </div>
              <div class="m-margin-bottom-small">
                <div class="ui teal basic label">编程</div>
                <div class="ui teal basic label">思考</div>
                <div class="ui teal basic label">思考</div>
                <div class="ui teal basic label">思考</div>
                <div class="ui teal basic label">编程</div>
              </div>
            </div>
            <div class="ui attached segment">
              <div class="m-margin-bottom-small">
                <div class="ui orange basic label">java</div>
                <div class="ui orange basic label">java</div>
                <div class="ui orange basic label">java</div>
                <div class="ui orange basic label">java</div>
                <div class="ui orange basic label">java</div>
              </div>
              <div class="m-margin-bottom-small">
                <div class="ui orange basic label">java</div>
                <div class="ui orange basic label">java</div>
                <div class="ui orange basic label">java</div>
                <div class="ui orange basic label">java</div>
                <div class="ui orange basic label">java</div>
              </div>
            </div>
            <div class="ui bottom attached segment">
              <a href="https://github.com/Mercer77" target="_blank"  class="ui circular icon button"><i class="github icon"></i></a>
              <a  id="qq" class="ui circular icon button"><i class="qq icon"></i></a>
              <a  id="wechat" class="ui circular icon button"><i class="wechat icon"></i></a>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div id="qq_qr" class="ui  flowing popup transition hidden">
      <img th:src="@{/images/qq.png}" src="http://120.27.249.14:8081/img/qq.png" style="width: 120px" class="ui teal rounded image" alt="">
    </div>
    <div id="wechat_qr" class="ui flowing popup transition hidden">
      <img th:src="@{/images/wechat.png}" src="http://120.27.249.14:8081/img/wechat.png" style="width: 120px" class="ui teal rounded image" alt="">
    </div>
  </div>

  <br>
  <br>
  <!--底部footer-->
  <footer th:replace="_fragments :: footer">
  </footer>
  <th:block th:replace="_fragments :: script">
  </th:block>
  <script>
    // 小屏下点击显示导航栏
    $('.menu.toggle').click(function () {
      $('.m-item').toggleClass('m-mobile-hide');
    });
    //微信弹出二维码
    $('#wechat').popup({
      popup : $('#wechat_qr'),
      position: 'top center'
    });
    //qq号显示
    $('#qq').popup({
      popup : $('#qq_qr'),
      position: 'top center'
    }
    );

  </script>
</body>
</html>