<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>游客注册</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
  <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body>

  <!--中间内容-->
  <br>
  <br>
  <br>
  <br>
  <div  class="m-container-small m-padded-tb-massive" style="width: 30em">
    <div class="ui middle aligned center aligned grid">
      <div class="column">
        <h2 class="ui teal image header">
          <div class="content">
            游客注册
          </div>
        </h2>
        <div class="ui message" th:unless="${#strings.isEmpty(message)}" th:classappend="${code} eq'1' ? 'success':'negative'">
          <i class="close icon"></i>
          <div class="header">提示</div>
          <p th:text="${message}"></p>
        </div>
        <form class="ui large form" method="post" th:action="@{/admin/register}">
          <div class="ui stacked segment">
            <div class="field">
              <div class="ui left icon input">
                <i class="user icon"></i>
                <input type="text" name="username" placeholder="用户名">
              </div>
            </div>
            <div class="field">
              <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password" name="password" placeholder="密码">
              </div>
            </div>
            <div class="field">
              <div class="ui left icon input">
                <i class="tags icon"></i>
                <input type="text" name="avatar" placeholder="头像url">
              </div>
            </div>
            <div class="field">
              <div class="ui left icon input">
                <i class="image icon"></i>
                <input type="email" name="email" placeholder="邮箱">
              </div>
            </div>
            <button class="ui fluid large teal m-margin-bottom-small submit button">注册</button>
            <a th:if="${code eq '1'}" class="ui fluid m-margin-bottom-small large green button" th:href="@{/admin/userLogin}">去登录</a>
            <a class="ui fluid large grey button" onclick="history.go(-1)">返回</a>
          </div>

          <div class="ui error message"></div>
          <!--<div class="ui negative message" th:unless="${#strings.isEmpty(message)}" th:text="${message}">用户名或密码错误</div>-->

        </form>

       <!-- <div class="ui message">
          新用户？ <a href="#">注册</a>
        </div>-->
      </div>
    </div>
  </div>

  <br>
  <br>

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>

  <script>
    // 表单验证
    $('.ui.form').form({
      fields : {
        username : {
          identifier: 'username',
          rules: [{
            type : 'empty',
            prompt: '请输入用户名'
          }]
        },
        password : {
          identifier: 'password',
          rules: [{
            type : 'empty',
            prompt: '请输入密码'
          }]
        }
      }
    });
    $('.message .close')
            .on('click', function() {
              $(this)
                .closest('.message')
                .transition('fade')
              ;
            })
    ;
  </script>
</body>
</html>